body{
    background:red !important;
}
*{
box-sizing:border-box;
}



html,
body{

margin:0;

padding:0;

min-height:100%;

}



body{

background:

radial-gradient(
circle at center,
#101010 0%,
#030303 70%
);


color:#00ff88;


font-family:

"Courier New",
monospace;


overflow-x:hidden;

overflow-y:auto;


}



/* 主窗口 */


.terminal{


width:min(900px,92%);


min-height:100vh;


margin:auto;


padding:20px 0;


}



/* 顶部 */


.top{


border:1px solid #00ff88;


padding:15px;


font-size:22px;


letter-spacing:3px;


background:

rgba(0,255,136,.04);


box-shadow:

0 0 15px rgba(0,255,136,.5),

inset 0 0 10px rgba(0,255,136,.2);


text-shadow:

0 0 8px #00ff88;


}



/* 主屏幕 */


.screen{


margin-top:15px;


border:1px solid #00ff88;


padding:20px;


min-height:400px;


height:auto;


overflow:visible;


background:

rgba(0,0,0,.55);


box-shadow:


0 0 20px rgba(0,255,136,.35),

inset 0 0 20px rgba(0,255,136,.08);


text-shadow:

0 0 5px rgba(0,255,136,.7);


}



/* 文字 */


p{

margin:10px 0;

}



/* 分割线 */


hr{


border:0;


border-top:

1px solid #00ff88;


opacity:.5;


}



/* 输入框 */


input{


background:#050505;


color:#00ff88;


border:

1px solid #00ff88;


padding:10px;


font-family:inherit;


box-shadow:

0 0 10px rgba(0,255,136,.4);


}



/* 按钮 */


button{


background:#050505;


color:#00ff88;


border:

1px solid #00ff88;


padding:12px 25px;


font-family:inherit;


cursor:pointer;


box-shadow:


0 0 10px rgba(0,255,136,.5);


transition:.2s;


}



button:hover{


background:#00ff88;


color:#000;


box-shadow:


0 0 20px #00ff88;


}



/* 红色异常 */


.danger,
.warning{


color:#ff3333;


text-shadow:

0 0 8px #ff3333;


}



/* 故障闪烁 */


.glitch{


animation:

glitch .15s;


}



@keyframes glitch{


0%{

transform:translate(0);

}


30%{

transform:translate(-3px);

}


60%{

transform:translate(3px);

}


100%{

transform:translate(0);

}


}



/* 扫描线效果 */


.screen::after{


content:"";


position:fixed;


left:0;


top:0;


width:100%;


height:100%;


pointer-events:none;


background:

linear-gradient(

rgba(255,255,255,.03) 1px,

transparent 1px

);


background-size:

100% 4px;


opacity:.15;


}





/* 手机 */


@media(max-width:768px){



.terminal{

width:92%;

padding-top:10px;

}



.top{

font-size:18px;

}



.screen{

padding:15px;

font-size:13px;

}



button{

width:100%;

}



}
