/* NULL-01 SYSTEM UI */


*{

box-sizing:border-box;

}



html,body{

margin:0;

padding:0;

min-height:100%;

}



body{


background:

radial-gradient(
circle at 50% 30%,
#17231d 0%,
#09100c 35%,
#020302 75%,
#000 100%
);


color:#00ff88;


font-family:

"Courier New",
monospace;


overflow-x:hidden;

overflow-y:auto;


}



/* 背景光晕 */


body::before{


content:"";


position:fixed;


inset:0;


pointer-events:none;



background:

radial-gradient(
circle,
rgba(0,255,136,.12),
transparent 45%
);



z-index:-1;


}



/* 终端 */


.terminal{


width:min(900px,92%);


min-height:100vh;


margin:auto;


padding:25px 0;


}




.top{


border:

1px solid #00ff88;


padding:15px;


font-size:22px;


letter-spacing:4px;


box-shadow:


0 0 20px rgba(0,255,136,.5);



text-shadow:


0 0 10px #00ff88;


}




.screen{


margin-top:15px;


padding:25px;


min-height:400px;


border:

1px solid #00ff88;



background:

rgba(0,0,0,.65);



box-shadow:


0 0 25px rgba(0,255,136,.45),


inset 0 0 20px rgba(0,255,136,.15);



text-shadow:


0 0 6px #00ff88;


}



/* 红色异常 */


.danger,
.warning{


color:#ff3333;


text-shadow:

0 0 10px red;


}



/* 按钮 */


button{


padding:12px 30px;


background:#000;


color:#00ff88;


border:

1px solid #00ff88;


font-family:inherit;


cursor:pointer;



box-shadow:


0 0 15px rgba(0,255,136,.6);



}



button:hover{


background:#00ff88;


color:#000;


}




/* 故障 */


.glitch{


animation:

shake .18s;


}



@keyframes shake{


0%{

transform:translate(0);

}


25%{

transform:translate(-5px);

}


50%{

transform:translate(5px);

}


100%{

transform:translate(0);

}


}



/* 手机 */


@media(max-width:768px){


.terminal{


width:92%;


}



.top{


font-size:18px;


}



.screen{


padding:15px;


font-size:13px;


}


button{


width:100%;


}


}
